body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
}

.gallery {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
}
.card {
  display: flex;
  flex-direction: column;
  width: 23%;
  margin: 0 15px;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 10px;
}
.card-inner {
  border-radius: 0.25rem;
}

.card-image {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-body {
  padding: 1rem;
}
.card-body-title {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.card-body-text {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-size: 14px;
  font-style: italic;
  /* font-style: normal; */
}
.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 30px;
}
.image-format {
  display: flex;
  align-items: center;
  gap: 5px;
}
.image-type {
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}
.badge {
  background-color: rgb(178, 22, 22);
  padding: 2px 20px;
  border-radius: 10px;
}
.badge > p {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .card {
    width: 100% !important ; /* Ekran küçüldükçe genişlik 100% olacak */
  }
}

@media screen and (max-width: 1280px) {
  .card {
    width: 40%; /* Ekran küçüldükçe genişlik 45% olacak */
  }
}

.card:hover {
  transform: scale(1.05);
}
