.main {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.second-area {
  background-color: rgb(199, 202, 202);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  flex-direction: column;
}
.search-text {
  margin-top: 0px;
  margin-bottom: 0;
}
.input-area {
  width: 120%;
}
.button-group {
  margin-top: 0px;
  display: flex;
  gap: 10px;
}
.third-section {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}
.column > ul {
  list-style: none;
}
